In [ ]:
import pandas as pd

In [ ]:
dti_pd = pd.read_parquet("../Data/Helper_Datasets/scope_onside_common_v2.parquet")

In [28]:
# Check null counts per column
print("Null counts before dropping:")
print(dti_pd.isnull().sum())

# Drop nulls
dti_pd = dti_pd.dropna()

Null counts before dropping:
drug_chembl_id        0
target_uniprot_id     0
label                 0
smiles                0
sequence              0
molfile_3d           57
rxcui                 0
dtype: int64

In [29]:
print(f"\nShape after dropping nulls: {dti_pd.shape}")
print("\nNull counts after dropping:")
print(dti_pd.info())

Shape after dropping nulls: (34763, 7)

Null counts after dropping:
<class 'pandas.core.frame.DataFrame'>
Index: 34763 entries, 0 to 34819
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   drug_chembl_id     34763 non-null  object
 1   target_uniprot_id  34763 non-null  object
 2   label              34763 non-null  int64
 3   smiles             34763 non-null  object
 4   sequence           34763 non-null  object
 5   molfile_3d         34763 non-null  object
 6   rxcui              34763 non-null  object
dtypes: int64(1), object(6)
memory usage: 2.1+ MB
None

In [ ]:
# load meddra data
adr_pd = pd.read_parquet("../Data/Helper_Datasets/final_rxnorm_meddra.parquet")
adr_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122353 entries, 0 to 122352
Data columns (total 3 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   rxnorm_ingredient_id  122353 non-null  object
 1   meddra_id             122353 non-null  int64
 2   meddra_name           122353 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.8+ MB

In [31]:
common_rxnorm_ids = dti_pd['rxcui'].unique()

# Create subset of adr_pd
adr_subset = adr_pd[adr_pd['rxnorm_ingredient_id'].isin(common_rxnorm_ids)].copy()

print(f"Original adr_pd shape: {adr_pd.shape}")
print(f"Subset adr_pd shape: {adr_subset.shape}")
print(f"Number of unique rxnorm_ids in common: {len(common_rxnorm_ids)}")

Original adr_pd shape: (122353, 3)
Subset adr_pd shape: (69474, 3)
Number of unique rxnorm_ids in common: 1031

In [32]:
adr_subset.to_parquet("../Data/final_rxnorm_meddra_v2.parquet", index=False)

In [34]:
valid_rxcui_ids = adr_subset['rxnorm_ingredient_id'].unique()

In [35]:
dti_pd_filtered = dti_pd[dti_pd['rxcui'].isin(valid_rxcui_ids)].copy()

In [36]:
dti_pd_filtered.to_parquet("../Data/scope_onside_common_v3.parquet", index=False)